@charset "utf-8";
html{background-color:#FAFAFA}
body{background-color:#FAFAFB;margin:0;font-size:16px;line-height:26px;font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,'ＭＳ Ｐゴシック',sans-serif}
.content-wrapper{width:1030px;margin-right:auto;margin-left:auto;margin-top:10px}
a:link{text-decoration:none}
a:hover{text-decoration:underline}
blockquote{background-color:#fff;padding:20px;margin:15px;border-left:1px solid #ccc}
.inyou{text-align:right;display:block;font-size:12px;margin:10px 0 0}
.main-outer h1{font-size:22px}
.entry-content h2{font-size:20px;padding:7px 5px;border-left:2px solid #666}
.entry-content h3,.entry-content h4{font-size:16px;padding-left:10px;border-bottom:1px dotted #FFAB40}
.main-outer p{font-size:16px;line-height:26px;margin:0;padding:10px 5px}
iframe{max-width:100%}
img{max-width:100%}
.header{margin:10px auto 20px!important;padding:15px 20px;width:990px;height:120px;background-color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);background:url(https://3.bp.blogspot.com/-qcdBqisl1K8/Ve1hUxmfttI/AAAAAAAACx0/__SHZ_Nkzw8/s1600/jbs-top_pc.jpg)no-repeat}
.header h1{font-size:26px;margin-top:0;margin-bottom:0}
.header-title a{font-size:26px;font-weight:700;text-decoration:none;color:#000;margin-top:5px}
.header-title a:hover{text-decoration:none}
.header-title a:visited{color:#000}
.header-description p{font-size:13px;margin-top:5px}
ul.header-nav{text-align:center;padding:0 0 0 5px}
.header-nav li{float:left;display:inline;border-left:1px solid #f2f2f2;padding:0 10px;margin-bottom:10px;font-size:14px}
.header-nav a{color:#000;text-decoration:none}
.header-nav a:hover{color:#ff8c00}
.main-outer{float:left;width:650px;background:#fff;padding:10px 20px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
#main{margin:0}
.post-outer img{max-width:100%;　　/記事内の画像をはみ出させない/height:auto}
.post-outer ul{list-style-type:disc;padding:20px;margin-bottom:20px}
.post-outer ol{list-style-type:decimal;padding:20px;margin-bottom:20px}
p.kousin{font-style:italic;font-size:15px}
.article-list{padding-bottom:30px;padding-top:10px;border-bottom:1px dashed #666;float:none}
.article-list img{float:left;width:160px;height:150px;margin-right: 10px;}
.article-list img:hover{opacity:.7}
.article-list-title a{font-size:18px;color:#000}
.article-list-title a:hover{color:#ff8c00;text-decoration:none}
a.article-label{font-size:12px;color:#1A0DAB}
.article-list-title p{font-size:12px;padding:0}
.breadcrumb-wrapper{margin:10px 0 30px 5px}
.breadcrumb{padding:0 0 0 10px}
.breadcrumb a{color:#333;font-size:13px;text-decoration:none}
.breadcrumb li{display:inline;list-style-type:none}
.breadcrumb li:after{content:" > "}
#related-posts{float:left;width:auto}
#related-posts a{border-right:1px dotted #eaeaea;color:#666;transition:.3s;overflow:hidden}
#related-posts a:hover{color:#fff;background:#ff8c00}
#related-posts h2{margin-top:10px;background:none;font-size:18px;color:#999}
#related-posts .related_img{margin:5px;border:2px solid #f2f2f2;width:120px;height:120px;transition:all 300ms ease-in-out;border-radius:5px}
#related-title{line-height:1.2;margin: 2px 5px;font-size:12px;width:130px;height:40px}
#related-posts .related_img:hover{border:2px solid #E8E8E8;opacity:.7;filter:alpha(opacity=70)}
.blog-pager{margin:15px 0 10px}
#blog-pager a,.showpageOf,.pagecurrent{font-size:14px;padding:8px 10px;color:#666;background-color:#fff;border:1px solid #dedede;margin:3px 8px;display:block;float:left}
#blog-pager a:hover{text-decoration:none;color:#fff;background:#ff8c00}
#blog-pager .pagecurrent{font-weight:700;color:#fff;background:#ff8c00}
#blog-pager .pages{border:none}
span.order-pagelink{float:left}
span.next-pagelink{float:right}
.sidebar{width:320px;max-width:100%;float:left;margin-left:20px}
#sidebar-section{background-color:#fff;padding:10px;margin:0!important;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.sidebar h2,h3,h4{border-bottom:2px solid #FFAB40;padding:0 0 0 5px;font-size:16px;font-weight:700}
.popular-post ul li a{font-size:15px;color:#000;display:block;padding:10px;transition:.4s}
.popular-post a:hover{color:#f30}
.popular-post ul li{border-bottom:1px dashed #f2f2f2;list-style-type:none}
.popular-post ul{padding:0}
.popular-post .item-thumbnail img{background:#f2f2f2;height:70px;width:70px;border:1px solid #fff;padding:3px;box-shadow:1px 1px 0 rgba(0,0,0,.1)}
.item-thumbnail{float:left;margin:0 10px 10px 0}
.archive-list ul{padding:0 0 20px 10px;list-style-type:none;line-height:18px}
.archive-list ul a{color:#1A0DAB}
.archive-list ul li{padding-bottom: 10px;}
.list-label-widget-content ul li a{font-size:14px;color:#1A0DAB;transition:.4s}
.list-label-widget-content ul{list-style-type:none;padding:0 0 0 10px}
.list-label-widget-content ul li{margin-right: 3px;    padding-bottom: 7px;display: inline-block;}
.footer-outer{color:#999;width:100%;clear:both;font-size:14px;padding-top:40px;padding-bottom:30px}
.footer-outer a{color:#999}
.footer-outer a:hover{text-decoration:none}
.comments{max-width:100%}
.comments .comments-content .icon.blog-author{background-repeat:no-repeat;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==)}
.avatar-image-container{width:40px!important}
.comment-block{margin-top:5px;margin-left:10px;margin-bottom:10px}
.comment-content{font-size:14px;margin:10px 0 30px;padding:5px 5px 10px 10px}
.comment-header a{color:#333;font-size:15px;font-weight:700}
cite.blog-author{margin-right:20px}
.comment-replies{background-color:#f2f2f2;padding:5px;margin-bottom:10px}
.thread-count{display:none}
.continue a{display:none}
.icon.blog-author{display:none}
.loadmore{display:none}
div.sns{padding-top:20px;padding-bottom:20px}
ul.snsb{list-style-type:none;overflow:hidden;padding:0}
ul.snsb li{float:left;margin-right:5px}
ul.snsb iframe{margin:0!important}
.section{margin:0}
.quickedit{display:none!important}
.ad_area{margin:0 0 10px;text-align:center}
.ad_area p{font-size:12px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
@media screen and (max-width: 768px) {
.content-wrapper{width:auto;margin:0 auto}
.header{width:auto;margin:0!important}
.main-outer{margin:10px 5px 5px;width:auto;padding:10px;float:none}
.pagenavi{width:auto}
.article-list-title{width:100%;padding:0}
.article-thumbnail img{margin-right: 5px;}
.article-thumbnail{text-align:center}
.post-box{text-align:center}
.article-list{width:auto;float:none}
.main-outer h1{font-size:20px;line-height:22px}
#related-posts .related_img{width:120px;height:100px}
img{max-width:100%;height:auto}
.sidebar{margin:5px;width:auto;float:none}
.archive-list ul li{padding-bottom:10px}
.footer-outer{width:auto;margin:0;bottom:0}
.blog-pager{margin:15px 0 10px}
}
@media screen and (max-width: 460px) {
  
  
}
