@charset "UTF-8"; 

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
body{
   background-color: #fdfdff;  /*  全体の背景色  */
   margin:0;
   font-size:16px;
   line-height:26px;
   font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
/*  記事部分とサイドバー  */
.content-wrapper {
    width: 1000px;
    margin: auto;
}
/*   リンク
----------------------------------------------- */
a {
color: #0044CC;	
}
a:visited {
	color: #0044CC;	
}
a:link {
   text-decoration:none;
}
a:hover {
   text-decoration:underline;
}
/*   引用
--------------------------------------------- */
blockquote {
   background-color: #ffffff;
   background-image: url(https://lh5.googleusercontent.com/-AYq9ZKAds08/VP_R7s0rw-I/AAAAAAAAABg/HDH1fw3jQN0/s24-no/bq24.png);
   background-repeat: no-repeat;
   background-position: left top;
   padding:30px 0 10px 10px;
   margin-left:15px;
   border-left:1px solid #ccc;
   overflow-wrap: break-word;
}
/*   記事のフォント
----------------------------------------------- */
.main-outer h1{
   font-size:28px;
}
.entry-content h2{
   font-size:24px;
   padding:15px 10px;
   border-left:3px solid #666;
}
.entry-content h3{
   font-size:20px;
   padding-bottom:10px;
   padding-left:10px;
   border-bottom:1px solid #666;
}
.main-outer p{
   font-size:16px;
   line-height:26px;
   padding-bottom:24px;
}
/*  画像や動画の最適化  */
iframe{
max-width:100%;
}
img{
max-width:100%;
}
/*   ヘッダー 
--------------------------------------- */
.header {
    margin: 24px 0;
    width: 100%;
}
#header-inner {
    margin: 0 auto 16px;
    max-width: 1000px;
}
/*   ブログタイトル   
---------------------------------------- */
.header h1 {
    font-size: 26px;
    margin: 0;
}
.header-title a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #212121;
}
.header-title a:hover{
   text-decoration:none;
}
.header-title a:visited {
    color: #212121;
}
/*   ブログ説明   */
.header-description p{
   font-size:13px;
   margin-top:5px;
}
/*   ヘッダーナビゲーション 
------------------------------------------- */
.header-nav {
    background-color: #009688;
    height: 45px;
    line-height: 45px;
}
.header-nav ul {
    list-style-type: none;
    max-width: 1000px;
    margin: 0 auto;
}
.header-nav li {
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.header-nav a {
    height: 43px;
    color: #fff;
    padding: 0 16px;
    display: block;
    text-decoration: none;
}
.header-nav a:hover {
    background-color: #26A69A;
    border-bottom: 2px solid #FF9800;
}
/*   記事ページ
-------------------------------------------- */
.main-outer {
    float: left;
    width: 684px;
    background: #ffffff;
}
#main{
   margin:0;
}
.post-outer {
    padding: 0 16px;
}
.post-outer img{  
   max-width:100%;　　/* 記事内の画像をはみ出させない */
   height:auto;
}
/*  記事ページのリストタグのデザイン  */
.post-outer ul {
	list-style-type: disc;
	padding:20px;
	margin-bottom: 20px;
}
.post-outer ol {
	list-style-type: decimal;
	padding:20px;
	margin-bottom: 20px;
}
/*　記事ページの公開日 カテゴリ名 */
p.post-date {
    font-size: 15px;
    text-align: right;
}
/*   トップページ、カテゴリ、アーカイブの記事一覧
--------------------------------------------------------- */
.article-list {
    padding: 18px 0;
    border-bottom: 1px solid #BDBDBD;
    float: none;
}
.article-list img {
    float: left;
    width: 150px;
    height: 110px;
}
/*  記事一覧のタイトル  */
.article-list img:hover{
   opacity:0.7;
}
.article-list-title{
   padding-left:160px;
}
.article-list-title a{
   font-size:18px;
   color:#000000;
}
.article-list-title a:hover {
    color: #FF7043;
    text-decoration: none;
}
/*記事一覧の公開日、カテゴリ名  */
a.article-label {
    font-size: 12px;
    color: #0044CC;
}
.article-list-title p{
   font-size:12px;
   padding:0;
}
/*   パンくずリスト  
--------------------------------------- */  
.breadcrumb-wrapper { 
   margin:10px 0 30px 5px;
}
.breadcrumb {
   padding:0 0 0 10px;
}
.breadcrumb a {
   color:#333;
   font-size:13px;
   text-decoration:none;
}
.breadcrumb li {
   display: inline;
   list-style-type: none;
}
.breadcrumb  li:after {
   content: " > ";
}
/*   関連記事 
-------------------------------------- */
#related-posts {
    margin: 0 auto;
    width: auto;
}
#related-posts a {
    margin-bottom: 4px;
    display: block;
    border: 1px dotted #E0E0E0;
    color: #666;
    transition: 0.3s;
}
#related-posts a:hover {
    color: #FFA726;
}
#related-posts h2{
   margin-top: 10px;
   background:none;
   font-size:18px;
   color:#999999;
}
#related-posts .related_img {
    float: left;
    margin: 4px;
    border: 2px solid #E0E0E0;
    width: 70px;
    height: 70px;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
}
.related-title {
   padding: 8px;
   font-size:15px;
}
#related-posts .related_img:hover{
   border:2px solid #E8E8E8;
   opacity:.7;
   filter:alpha(opacity=70);
}
/*    ページナビゲーション
------------------------------------------------ */
.blog-pager {
    margin-top: 24px;
    background: none;
    text-align: right;
}
.showpageOf{
	 font-size: 14px;
   padding:8px 10px;
   color: #666; 
   background-color:#fff;
   margin:3px 8px;
   display: inline-block;
}
#blog-pager a, .pagecurrent {
    font-weight: 600;
    text-align: center;
    line-height: 38px;
    height: 38px;
    width: 38px;
    font-size: 14px;
    color: #212121;
    margin: 0px 4px;
    display: inline-block;
    border-radius: 50%;
    background-color: #BDBDBD;
}
#blog-pager a:hover{
   text-decoration:none;
   color:#fff;
   background:#ff8c00;
}
#blog-pager .pagecurrent {
    font-weight: 600;
    color: #fff;
    background: #ff8c00;
}
#blog-pager .pages{border:none;}
/*   前の投稿 次の投稿
--------------------------------------*/
span.order-pagelink{
float:left;
}
span.next-pagelink{
float:right;
}
/*   サイドバー
-------------------------------------- */
.sidebar {
    width: 300px;
    max-width: 100%;
    float: left;
    padding-left: 16px;
}
/*   サイドバー見出し   */
.sidebar h2,h3,h4{
   padding:0 0 0 5px;
   font-size:18px;
   font-weight:700;
}
.sidebar h4 {
    margin-bottom: 4px;
    padding: 4px;
    background-color: #009688;
    border-bottom: 2px solid #FF9800;
    color: #FFF;
}
/*   人気記事    
--------------------------------------- */
.popular-post ul li a {
    font-size: 14px;
    display: block;
    padding: 0 0 8px;
}
.popular-post a:hover{
}
.popular-post ul li{
   border-bottom:1px dashed #f2f2f2;
   list-style-type:none;
}
.popular-post ul{
   padding:0;
}
.popular-post .item-thumbnail img{
   background:#f2f2f2;
   height:70px; width:70px;
   border:1px solid #fff;
   padding:3px;
   box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);}
.item-thumbnail{
   float:left;
   margin: 0 10px 10px 0;
}
/*   月別アーカイブ 
--------------------------------------- */  
.archive-list ul {
    padding: 0 0 8px 8px;
    list-style-type: none;
    line-height: 18px;
}
.archive-list ul li{
   padding-bottom:8px;
}
/*   ラベル
-------------------------------------------- */  
.list-label-widget-content ul li a {
    font-size: 14px;
    transition: 0.4s;
}
.list-label-widget-content ul{
   list-style-type: none;
   padding:0 0 0 10px;
}
.list-label-widget-content ul li{
   padding-bottom:7px;
}
/*   ラベル別 
----------------------------------------------- */  
.labellist p {
    margin-bottom: 4px;
    padding: 4px;
    background-color: #009688;
    border-bottom: 2px solid #FF9800;
    color: #FFF!important;
}
.labellist p a {
    color: #FFF!important;
    font-weight: 700;
}.labellist ul {
    padding: 0 0 8px 8px;
    list-style: none;
}
.labellist li {
}
/*   フッター 
----------------------------------------------- */     
.footer-outer{
   color:#999;
   width:100%;
   clear:both;
   font-size:14px;
   padding-top:40px;
   padding-bottom:30px;
}
.footer-outer a{
   color:#999;
}
.footer-outer a:hover{
   text-decoration:none;
}

/*  コメント
----------------------------------------------- */
.comments{
max-width:100%;
overflow: auto;
}
.comments .comments-content .icon.blog-author {
   background-repeat: no-repeat;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
   overflow: auto;
   }
.avatar-image-container {
   width: 40px !important;
}
.comment-block{
   margin-top:5px;
   margin-left:10px;
   margin-bottom:10px;
}
.comment-content {
   font-size: 14px;
   margin: 10px 0 30px;
   padding: 5px 5px 10px 10px;
}
.comment-header a {
   color: #333;
   font-size: 15px;
   font-weight: bold;
}
cite.blog-author{
   margin-right:20px;
}
.comment-replies{
   background-color:#f2f2f2;
   padding:5px;
   margin-bottom:10px;
}
.thread-count{
   display:none;
}
.continue a {  
   display:none;
}
.icon.blog-author {
   display: none;
}
.loadmore{
display:none;
}
/*   SNSボタン 
------------------------------------------- */ 
div.sns {
   padding-top:20px;
   padding-bottom:20px;
}
ul.snsb {
   list-style-type:none;
   overflow: hidden;
   padding:0;
}
ul.snsb li {
   float: left;
   margin-right:5px;
}
ul.snsb iframe {
   margin: 0 !important;
}
/*   広告
--------------------------------------------------- */ 
.ad_area {
    margin: 16px 0;
}
.ad_area p {
    padding: 0!important;
}
.adsbygoogle {
    margin: auto;
}
/*   レスポンシブデザイン
--------------------------------------------------- */         
@media screen and (max-width: 768px){

.content-wrapper{
   width:auto;
   margin:0 auto;
}
.header{
   width:auto;
   margin:0 auto;
}
.main-outer{
   width:auto;
   padding:10px 5px;
   float:none;
}
.pagenavi{
   width:auto;
}
.article-list-title{
   width:100%;
   padding:0;
}
.article-thumbnail img{
   float:none;
   width:100%;
   height:auto;
}
.article-thumbnail{
   text-align:center;
}
.post-box{
   text-align:center;
}
.article-list{
   width:auto;
   float:none;
}
.main-outer h1{
   font-size:20px;
   line-height:22px;
}
#related-posts .related_img{
   width:100px;
   height:100px;
}
img{
   max-width:100%;
   height:auto;
}
.sidebar{
   width:auto;
   float:none;
}
.archive-list ul li{
   padding-bottom:10px;
}
.footer-outer{
   width:auto;
   margin:0;
   bottom:0;
}
}
